@charset "utf-8";
body {
        margin: 0 100px 0 auto;
        padding: auto;
	    background:url(../images/snow.jpg)no-repeat fixed ;
	    background-size:cover;
}
h1 {
	text-align: center;
	font-size: 70px;
	color: blue;
	letter-spacing: 35px;
     
}
/* .nav {
	padding: 10px 20px;
	text-decoration: none;
	float: left;
} */
span {
	text-align: center;
	padding: 0 20px;
	margin-bottom: 30px;
	font-size: 35px;
	background: purple;
	border: solid wheat 2px;
	border-radius: 10px;
    opacity: 0.5;
	display: block;
}
.main {
	color: black;
	font-family: "宋体";
	padding: 20px;
	text-align:left;
	font-size: 17px;
	border: solid 2px wheat;
	border-radius:20px ;
	height: 1250px;
	width: 900px;
	margin: 20px ;
	line-height: 30px;
	opacity: 0.8; /*后面的背景的被覆盖程度*/
	float: right;
	background: white;
}
.nav {
	width: 300px;
	height: 450px;
	/*border: 2px dotted royalblue;*/
	padding: 40px 20px;
	margin: 20px 5px 10px 30px;
	color:blue;
	text-decoration: none;/*文本的修饰*/
	float: left;
	position: fixed;
	/*absolute属性是跟随鼠标动，即会混动
	position加上fixed属性后，不论我们如何拉动浏览器的滚动条，层2在浏览器中的位置都是不会变化的*/
}
img {
	float: right;
	padding: 20px;
	opacity: 0.8;
	border-radius: 45px;
}
img:hover {
	opacity: 1;
}
a {
	color:white;
	text-decoration: none;
}
span:hover {
	background: navy;
}
a:hover {
	color:red;
}
a:visted {
	color:purple;
}
.cite {
	font-size: 25px;
	color: indigo;
	background: linear-gradient(plum,darkorchid);
	border-radius: 10px;
}