@charset "utf-8";
body {
	padding: 25px;
	background:url(../images/pc.jpg) no-repeat fixed;
	background-size:cover;
	
}
h1 {
	text-align: center;
	font-size: 70px;
	color: blue;
	letter-spacing: 35px;
}
.nav {
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	background: gray;
	border-radius: 35px;
	opacity:0.6; 
}
nav {
	border-radius: 35px;
}
span {
	padding: 35px;
	font-size: 35px;
}
.main {
	padding: 30px;
}
a {
	color: aqua;
	text-decoration: none;
}
a:hover {
	color: orangered;
}
.p1,.p2 {
	background: white;
	border-radius: 15px;
	opacity: 0.7;
	font-family: "宋体";
	padding: 20px;
	font-size: 17px;
	height: 500px;
	width: 560px;
        line-height: 30px;
}
P::first-letter{
	font-size: 50px;
	color: goldenrod;
}
.p3 {
	font-family: "宋体";
	background: white;
	opacity: 0.7;
	padding: 20px;
	font-size: 17px;
	height: 200px;
	width: 1160px;
	margin: 10px;
	line-height: 30px;
        border-radius: 25px;
}