@charset "utf-8";
body {
	margin: 0 80px;
	background: url(../images/river.jpg) no-repeat fixed;
	background-size: cover;
}
.top {
	padding: 15px;
}
h1 {
	text-align: center;
	font-size: 70px;
	color: blue;
	letter-spacing: 30px;
}
.nav {
	border-radius: 15px;
	background: sandybrown;
	opacity: 0.6;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
}
span {
	padding: 45px;
	font-size: 35px;
}
.main {
	margin: 40px;
	
}
.main div {
	padding: 40px;
	font-size: 17px;
	border-radius:35px;
        height: 680px;
	width: 500px;
	margin: 20px;
	line-height: 30px;
	background: ivory;
	opacity: 0.7;
}
.p1,.p3 {
	float:left;
}
.p2,.p4 {
	float:right;
}
P::first-letter{
	font-size: 50px;
	color:dodgerblue;
}
a {
	text-decoration: none;
}
a:hover {
	color: orangered;
}
p {
	font-family: "宋体";
	color: black;
	padding: 10px;
}